@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,600,700&display=swap');

$main-color: #1445b3;
$secondary-color: #FFF;
$title-font: "Montserrat", sans-serif;
$text-font: 'Open Sans', sans-serif;

*{
  box-sizing:border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: $main-color;
    font-family: 'Montserrat', sans-serif;
  }
  
  nav {
    background-color: $secondary-color;
    padding: 20px 60px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
      
    .img-tp{
        img {
        margin: 7px 0px;
        max-height: 26px;
        }
    
      .img-logo{
        max-width:100%;
        height: auto;
        cursor: pointer;
        }
      }

      .menu-pc {
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: 0.5s;

          a {
            color: #004289;
            font-family: $title-font;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            padding: 10px 15px;
            transition: 0.3s;
          }
          a:hover {
            color: #007BFF;
          }
      }

      @media (max-width: 900px) {
        .menu-pc {
          display: none;
        }
      }
     
    
  }

  #menu {
    background-color: rgba(19, 39, 57, 0.8);
    color: $secondary-color;
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    height: 100%;
    transition: all 0.5s;
    }
  

  a{
    font-weight: 600;
    color: $main-color;
    font-size: 15px;
  }

  ul{
      padding-left:20px;
  }
  

  li{
      list-style:none;
      padding-bottom:10px;
      font-weight: 600;
  }

  #menu:target {
    left: 0px
  }

  .close{
    position:absolute;
    top: 20px;
    left:300px;
    display:none;
}

  #menu:target .x{
      display:block;
  }

  >a{
      padding-left: 10px;
  }

  .hamburguer{
      display:none;
      
  }

  #section-1-intro{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 150px 60px 60px;
    .section-1-intro-img{
      width: 50%;
      .imagen-intro{
        width: 100%;
      }
    }
    .section-1-intro-title{
      width:50%;
      h2{
        font-family: $title-font;  
        color:$secondary-color;
        font-size: 48px;
        font-weight: 700;
        span{
          color: #74b5fc;
          font-family: $title-font;
          text-decoration: underline;
        }
      }
      .section-1-intro-button{
        display:flex;
        width: 50%;
        justify-content: space-between;
        .section-1-button-1{
          background: #007bff;
          border: 2px solid #007bff;
          color:$secondary-color;
          border-radius: 50px;
          font-family: $title-font;
          font-weight: 600;
          font-size: 14px;
          padding: 10px 20px;
          letter-spacing: 1px;
          transition: 0.5s;
        }
        .section-1-button-2{
          background: $main-color;
          border: 2px solid $secondary-color;
          color:$secondary-color;
          border-radius: 50px;
          font-family: $title-font;
          font-weight: 600;
          font-size: 14px;
          padding: 10px 20px;
          letter-spacing: 1px;
          transition: 0.5s;
        }
      }
      .section-1-button-1:hover{
        background: $main-color;
        border: 2px solid $secondary-color;
        
      }

      .section-1-button-2:hover{
        background: #007bff;
        border: 2px solid #007bff;
      }
    }  
 }

  #section-2-about{
    background-color: $secondary-color;
    padding: 60px 60px;
    main{
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;

      h3{
        color:#283d50;
        font-family: $title-font;
        font-size: 36px; 
        margin-bottom: 20px;
        font-weight: 500;
      }
      p{
        color:#556877;
        font-family: $text-font;
        font-size: 15px;
        line-height: 1.5px;
        
      }
      
    }

    .section-2-container-about-articles{
      display:flex;
      margin: 20px;
      .section-2-container-about-text{
        display:flex;
        width: 50%;
        flex-direction: column;
        padding: 0 15px;
          p{
          color: #444;
          font-family: $text-font;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          margin-bottom: 30px;
          
          }
          .section-2-container-about-box {
            display:flex;
            padding: 0 0 30px;
            
            .about-icons{
              display:flex;
              justify-content: center;
              align-items: center;
              width: 64px;
              height: 64px;
              padding: 20px;
              border-radius: 50%;
              border: 2px solid #007bff;
              transition: all 0.3s ease-in-out;
              background-color: $secondary-color;
              i {
                color: #007bff;
                font-size: 28px
              }
            }
            .about-text{
              flex-direction:column;
              margin-left: 15px;
                h4{
                margin: 0 0 5px;
                color: #283D50;
                font-family: $title-font;
                font-weight: 600;
                font-size: 18px;
                }

                p {
                  color: #444;
                  font-family: $text-font;
                  font-size: 14px;
                  margin-bottom: 30px;

                }
            }
          }

        }
        .section-2-container-about-box:hover .about-icons {
          
          background-color: #007BFF;
          i {
            color: $secondary-color;
          }

        }

        .section-2-container-img{
          display:flex;
          width: 50%;
          padding: 0 15px;
          img {
            width: 100%;
          }
        }
      }

      
    
    .section-2-container-about-articles-2{
      display:flex;
      padding-top: 60px;
      .section-2-container-about-articles-2-img{
        width:50%;
        padding: 0 15px;
        img{
          width:90%;
        }
      }
      .section-2-container-about-articles-2-text{
        width:50%;
        padding: 0 15px;
        h4 {
          font-family: $title-font;
          font-size: 24px;
          font-weight: 600px;
          color: #444;
          margin: 0 0 20px;
        }
        p {
          font-family: $text-font;
          font-size: 16px;
          color: #444;
          margin: 0 0 30px;
          line-height: 1.5;
        }
      }
    }
  }
 
      @media (max-width: 950px) {
        #section-2-about {
          padding: 60px 150px;
        }
      }

  #section-3-services {
    background-color: #ECF5FF;
    padding: 60px 60px;
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h3 {
        font-family: $title-font;
        font-size: 36px;
        color: #283d50;
        text-align: center;
        font-weight: 500;
      }
      p {
        text-align: center;
        color: #556877;
        padding-bottom: 60px;
        width: 50%;
      }
    }
    .section-3-services-container-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      .section-3-services-cards {
        width: 40%;
        height: 170px;
        background-color: $secondary-color;
        margin: 28px;
        padding: 30px;
        display: flex;
        border-radius: 10px;
        box-shadow: 0 10px 30px 0 rgba(3, 43, 153, 0.1); 
        transition: all 0.5s;
        position: relative;
        overflow: hidden;
        align-items: center;
        .section-3-services-cards-icon {
          display: flex;
          align-items: center;
          position: absolute;
          left: -10px;
          i {
            font-size: 64px; 
          }
          .fa-chart-line {
            color: #ff689b;
          }
          .fa-bookmark {
            color: #e9bf06;
          } 
          .fa-tachometer-alt {
            color: #41cf2e;
          }
          .fa-sticky-note {
            color: #3fcdc7;
          }
          .fa-globe {
            color: #d6ff22;
          }
          .fa-clock {
            color: #4680ff;
          }
        }
        .section-3-services-cards-text {
          margin-left: 40px;
          h4 {
            margin: 0;
            margin-bottom: 15px;
            font-family: $title-font;
            font-size: 18px;
            font-weight: 700;
            color: #111;
            }
          p {
            font-family: $text-font;
            color: #444;
            font-size: 14px;
          }
        }  
      }
      .section-3-services-cards:hover {
        transform: translateY(-5px);
      }
    }
  }

  #section-4-why-choose-us {
    background-color: #004A99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;

    h3{
      color:$secondary-color;
      font-family: $title-font;
      font-size: 36px; 
      margin-bottom: 20px;
    }

    >p{
      color:$secondary-color;
      font-family: $text-font;
      font-size: 15px;
      padding-bottom: 60px; 
      text-align: center;
      width: 50%;
    }

    .section-4-why-choose-us-container-box {
      display: flex;
      justify-content: space-around;
      text-align:center;
    
      .section-4-why-choose-us-box {
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-color: #00458F;
        border-radius: 10px;
        padding: 35px 10px; 
        margin: 0 15px;
        width: 295px;
        transition: 0.3s ease-out;

        i {
          font-size: 48px;
          padding-top: 15px;
          color: #bfddfe;
          }

        h4 {
          color:$secondary-color;
          font-family: $title-font;
          font-size: 22px; 
          margin-bottom: 20px;
        }

        p{
          color:#D8EAFE;
          font-family: $text-font;
          font-size: 15px;
        }

        >a {
          text-decoration: none;
          color: $secondary-color;
          font-family: $text-font;
          font-weight: 600;
          font-size: 16px;
          transition: 0.3s ease-in-out;
        }

        a:hover{
          border-bottom: #fff solid 2px;
        }

       
      }

      .section-4-why-choose-us-box:hover{
        background: #003b7a;
      }
        
    }
     
    .section-4-why-choose-us-countup {
      display: flex;
      justify-content: space-between;
      color: $secondary-color;
      width:80%;
      text-align: center;
      padding:40px;
          .section-4-why-choose-us-countup-info{
            h4{
              font-family: $title-font;
              font-weight: bold;
              font-size: 48px;
              margin:0;
            }
            p{
              font-size: 14px;
              color: #cce5ff;
            }
          }
    }
  }


  #section-5-portfolio {
    background-color:$secondary-color;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 60px 60px;
    .section-5-portfolio-title-and-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3{
        font-family:$title-font;
        font-size: 36px;
        font-weight: 500;
        color: #283d50; /* TAL VEZ DECLARARLO PARA EL H3*/
      }
      .section-5-portfolio-button {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        button {
          background-color: #ECF5FF;
          border-radius: 50px;
          color: #007BFF;
          padding: 6px 20px;
          margin: 10px;
          border: none;
          font-family: $text-font;
          font-size: 12px;
        }
        button:hover, .section-5-portfolio-button-all {
            background-color: #007BFF;
            color: $secondary-color;
        }
      }
    }

    .section-5-portfolio-container-img {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 0 60px;
      
      .section-5-portfolio-img {
        width: 350px;
        height: 250px; 
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }

        .section-5-portfolio-img-overlay { 
          background-color: rgba(00, 22, 99, 0.5);
          color: $secondary-color;
          position: relative;
          width: 350px;
          height: 250px; 
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          display: none;

          .section-5-portfolio-img-overlay-info {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 50px;
          
 
            h4{
              font-family: $title-font;
              font-size: 22px;
              margin: 0;
            }
            p {
              font-family: $text-font;
              color: #E2EFFE;
              font-size: 14px;
            }
          
            .fas.fa-eye, .fas.fa-external-link-alt {
              color: #E2EFFE;
              background-color: #007BFF;
              border-radius: 50%;
              height: 36px;
              width:36px;
              text-align: center;
              padding: 10px 5px;
            }
          }
          

        }

        

      }
      .section-5-portfolio-img:hover .section-5-portfolio-img-overlay {
        z-index: 2;
        display: block;
        
      }
    }

  }

  #section-6-testimonials {
    padding: 60px 60px;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ECF5FF;

    .section-6-testimonials-title {
      margin: 0px 120px;
      font-family: $title-font;
       h3 {
         margin: 0;
         padding: 20px 0;
         font-weight: 400;
        font-size: 36px;
        color: #283D50;
      }
    }

    .section-6-testimonials-container {
      margin: 0px 120px;
      width: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .section-6-testimonials-subcontainer {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .section-6-testimonials-info {
          display: flex;
          width: 750px;
          .section-6-testimonials-info-img {
            margin-right: 20px;
            text-align: center;
            vertical-align: middle;
            img {
              height: 120px;
              width: 120px;
              border-radius: 50%;
              border: 4px solid #FFF;    
            }
          }

          .section-6-testimonials-info-text {
            padding-bottom: 5px;
            font-family: $title-font;
            line-height: 1.5;           
            h4 {
              color: #111;
              font-size: 20px;
              margin: 0 0 5px;
             }

            h5 {
              color: #999;
              font-size: 14px;
              margin: 0;
            }

            p {
              color: #444;
              font-size: 16px;
              font-family: $text-font;
              margin-top: 15px;
              font-style: italic;
            }

          }
        }
        }
      
        .section-6-testimonials-info-button {
          
          button {
            width: 12px;
            height: 12px;
            background-color: #DDD;
            margin: 0 5px;
            border-radius: 50%;
            border:none;
            cursor: pointer;
          }
      
          button:hover{
            background-color: #007BFF;
            
            }
          button:active{
            background-color: #007BFF
            }
         }
      
    }
    
    @media (max-width:750px){
      .section-6-testimonials-info {
        flex-direction: column;
        
        .section-6-testimonials-info-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px 0;
          p {
            width: 60%;
            text-align: center;
          }
        }
      }

    }
    @media (min-width:751px) and (max-width:900px) {
      .section-6-testimonials-subcontainer {
        width:80%;
        margin: 0 30px 0;
        .section-6-testimonials-info {
        width: 700;
        padding: 0 30px 0;
        }
      }
    }
      
  }
  
  #section-7-team{
    background-color:$secondary-color;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 60px 60px;
    h3{
      font-family:$title-font;
      font-size: 36px;
      font-weight: 500;
      margin: 20px;
    }
    p{
      font-family:$text-font;
      font-weight: 400;
      font-size: 15px;
    }

    .section-7-team-container-img{
      display:flex;
      .section-7-team-images{
        width: 255px;
        height: 255px;
        position: relative;
        border-radius:50%;
        background-position: center;
        background-size:cover;
        overflow: hidden;
        margin:10px;
        
        img{
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;          
        }
        .section-7-team-images-overlay{
          background-color: rgba(00, 22, 99, 0.5);
          color: $secondary-color;
          position: relative;
          width: 255px;
          height: 255px; 
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          display: none;
          transition: all 2s linear;
          
          .section-7-team-images-overlay-info{
            display: flex;
            align-items: center;
            flex-direction: column;
            h3{
              margin: 50px 0 10px;
              font-family:$title-font;
              font-size:18px;
              font-weight: 600;
            }
            p{
              margin:0;
              font-family:$text-font;
              font-size:15px;
            }
          }
          .section-7-team-images-ovarlay-icons{
            display:flex;
            justify-content:center;
            margin: 10px 5px;
            i{
              margin: 5px;
            }
          }
        }
      }
      .section-7-team-images:hover .section-7-team-images-overlay{
        z-index: 2;
        display: block;
      }
    }
    @media(max-width:900px){
      .section-7-team-container-img{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        img{
          width:50%;
        }
       }
  }
  @media(max-width:600px){
    .section-7-team-container-img{
      display:flex;
      flex-direction:column;
      align-items:center;
    }
  }
      }
    
    
  
  #section-8-our-clients {
    background-color: #ECF5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 60px;
      
    h3{
      color:#283d50;
      font-family: $title-font;
      font-size: 36px; 
      margin-bottom: 20px;
      font-weight: 400;
    }

    p{
      padding-bottom: 60px;
      color: #556877;
      width: 50%;
      font-size: 15px;
      text-align: center;
    }
      .section-8-our-clients-container-box{
      border-top: 1px solid #d6eaff;
      border-left: 1px solid #d6eaff;
      margin: 10px 10px 30px 10px;
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

        .section-8-our-clients-cards{
        background-color: $secondary-color;
        height: 160px;
        width: 25%;
        padding: 64px;
        border-right: 1px solid #d6eaff;
        border-bottom: 1px solid #d6eaff;
        box-sizing: border-box;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow:hidden;

          img{
              transition: all 0.4s ease-in-out;
              max-width: 100%;
              height: auto;
              box-sizing: border-box;
              
          }

          img:hover{
            transform: scale(1.25);
          }
        }
      
      @media (max-width:600px){}
      @media (max-width:900px){}
      }
  }

  #contact-us {
    background-color:$secondary-color;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 60px 0;
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-family: $title-font;
        font-size: 36px;
        color: #283d50;
        text-align: center;
        font-weight: 500;
      }
    }
    .contact-us__main {
      display: flex;
      width: 100%; 
      .contact-us__main--left {
        width: 50%;
        padding: 15px;
        .contact-us__map, iframe {
          width: 100%;
          height: 100%;
          border: 0;
        }
      }
      .contact-us__main--right {
        padding: 15px;
        width: 50%;
        .contact-us__information {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #283d50;
          padding: 5px;
          .contact-us__address, 
          .contact-us__email, 
          .contact-us__telephone {
            display: flex;
            align-items: center;
          }
          i {
            font-size: 32px;
            color: #007bff;
          }
          p {
            font-size: 14px;
            padding: 0 0 10px 25px;
          }
        }
        form {
          .contact-us__form {
            display: flex;
            justify-content: space-between;
            .contact-us__form--name, 
            .contact-us__form--email {
              width: 50%;
              padding: 5px;
              input {
                width: 100%;
                height: 36px;
                padding: 5px;
                font-family: $title-font;
              }
            }
          }
          .contact-us__form--subject {
            width: 100%;
            padding: 5px;
            input {
              width: 100%;
              height: 36px;
              padding: 5px;
              font-family: $title-font;
            }
          }
          .contact-us__form--message {
            width: 100%;
            padding: 5px;
            textarea {
              width: 100%;
              padding: 5px;
              font-family: $title-font;
            }
          }
          .validation {
            display: none;
          }
          .contact-us__form--button {
            text-align: center;
            button[type="submit"] {
              background: #007bff;
              font-family: $title-font;
              border: 0;
              border-radius: 20px;
              padding: 8px 30px;
              color: #fff;
              transition: 0.3s;
            }
            button[type="submit"]:hover {
              background-color: #0067d5;
              cursor: pointer;
            }
          }
        } 
      }
    }
  }

   //@media (max-width:900px) El valor es 960!//
  @media (max-width:960px) {

    #contact-us {
      .contact-us__main {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .contact-us__main--left {
          width: 100%;
        }
        .contact-us__main--right {
          width: 100%;
          form {
            .contact-us__form {
              flex-direction: column;
              .contact-us__form--name, .contact-us__form--email {
                width: 100%;
              }
            }
          }
        }
      }
    }
    #section-3-services {
      .section-3-services-container-cards {
        .section-3-services-cards {
          width: 45%;
          margin: 15px;
        }
      }
    }
  }

  //@media (max-width:600px) El valor es 768!//
  @media (max-width:768px){
    .hamburguer{
        display:block;
    }

    .menu-pc{
        display:none;
    }

    #contact-us {
      .contact-us__main {
        .contact-us__main--right {
          .contact-us__information {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
    #section-3-services {
      padding: 60px 20px;
      .section-3-services-container-cards {
        .section-3-services-cards {
          display: flex;
          width: 100%;
          padding: 20px;
        }
      }
    }
  }

  

.arrow {
    border: none;
    color: white;
    font-size: 16px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #007bff;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow:hover {
    cursor: pointer;
}

#footer{
.footer-container{
 background-color: #004A99;
 color: #ffffff;
 display:flex;
 padding: 50px;
  .bloque1 {
      display: flex;
    .wayne{
      font-family: $title-font;
      font-size:13px;
      width: 70%;
      padding-left: 45px;
      padding-right: 15px;
      line-height: 0.75cm;
        h2{
          font-size: 34px;
      }
    }
    .useful-links{
      width: 30%;
      font-size:14px;
      padding-left:15px;
      padding-right:15px;
      ul {
        list-style: none;
        margin: 0;
        padding:0;
        line-height: 1cm;
        li {
          a {
            text-decoration: none;
            color: #fff;
            transition: all 0.3s;
          }
        }
      }
      ul {
        li {
          a:hover {
            color: #0564CA;
          }   
        }   
      }
    }
  }
  .bloque2 {
    .contact-us{
      width: 250px;
      font-size:14px;
      padding-left:15px;
      padding-right:15px;
      p {
        line-height: 0.75cm;
        span{
          font-weight: bold;
        }
      }
      .icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .iconos {
          width: 40px;
          height: 40px;
          background-color: #007bff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
        }
        .iconos:hover {
          background-color: #0564ca;
        }
      }
    }
    .newsletter{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size:14px;
      padding-left:15px;
      padding-right:15px;
      p {
        margin-top: 0;
      }
      form {
        display: flex;
        input{
          display: flex;
          flex: 1;
          justify-content: center;
          height: 30px;
          margin: 0;
          padding: 0;
          border: none;
          .submit{
            background-color: #007bff;
            color: #ffffff;
            width: 30%;
            transition: all 0.3s;
          }
          .submit:hover {
            cursor: pointer;
            background-color: #0564CA;
          }
        }
      }
    }
  }
}

.copyright{
  height:100px;
  background-color:#00428a;
  color: #ffffff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  p{
    margin:5px;
  }  
}



@media(max-width:900px){
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bloque1, .bloque2 {
        display: flex;
    }

    .bloque1 {
        margin-bottom: 20px;
    }

    .wayne {
        padding: 0;
        margin-right: 20px;
    }

    .wayne h2 {
        margin-top: 0;
    }

    .wayne, .useful-links, .contact-us,  .newsletter {
        width: 50%;
    }

    .icons {
        width: 100%;
    }

    .contact-us, .useful-links, .newsletter {
        padding-left: 0;
    }
}

@media(max-width:600px){
    .footer-container, .bloque1, .bloque2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wayne, .useful-links, .contact-us, .newsletter {
        margin-bottom: 20px;
    }

    .wayne {
        width: 100%;
        margin-left: 0;
    }

    .newsletter {
        padding-left: 0;
        width: 100%;
    }

    .icons {
        width: 100%;
    }

    form {
        width: 100%;
    }
}
}