@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
body {
  margin: 0;
  background-color: #1445b3;
  font-family: 'Montserrat', sans-serif; }

nav {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between; }

.img-tp {
  width: 50px;
  height: 50px; }

img {
  width: 100%; }

#menu {
  background-color: rgba(19, 39, 57, 0.8);
  color: #fff;
  width: 200px;
  position: absolute;
  top: 0;
  left: -200px;
  height: 100%;
  transition: all 0.5s; }

a {
  font-weight: 600;
  color: #1445b3;
  font-size: 15px; }

ul {
  padding-left: 20px; }

li {
  list-style: none;
  padding-bottom: 10px;
  font-weight: 600; }

#menu:target {
  left: 0px; }

.x {
  position: absolute;
  top: 20px;
  left: 300px;
  display: none; }

#menu:target .x {
  display: block; }

a {
  padding-left: 10px; }

.hamburguer {
  display: none; }

@media (max-width: 600px) {
  .hamburguer {
    display: block; }
  .menu-pc {
    display: none; } }
