@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,600,700&display=swap");
* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  background-color: #1445b3;
  font-family: 'Montserrat', sans-serif; }

nav {
  background-color: #FFF;
  padding: 20px 60px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  nav .img-tp img {
    margin: 7px 0px;
    max-height: 26px; }
  nav .img-tp .img-logo {
    max-width: 100%;
    height: auto;
    cursor: pointer; }
  nav .menu-pc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s; }
    nav .menu-pc a {
      color: #004289;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      padding: 10px 15px;
      transition: 0.3s; }
    nav .menu-pc a:hover {
      color: #007BFF; }
  @media (max-width: 900px) {
    nav .menu-pc {
      display: none; } }

#menu {
  background-color: rgba(19, 39, 57, 0.8);
  color: #FFF;
  width: 200px;
  position: absolute;
  top: 0;
  left: -200px;
  height: 100%;
  transition: all 0.5s; }

a {
  font-weight: 600;
  color: #1445b3;
  font-size: 15px; }

ul {
  padding-left: 20px; }

li {
  list-style: none;
  padding-bottom: 10px;
  font-weight: 600; }

#menu:target {
  left: 0px; }

.close {
  position: absolute;
  top: 20px;
  left: 300px;
  display: none; }

#menu:target .x {
  display: block; }

a {
  padding-left: 10px; }

.hamburguer {
  display: none; }

#section-1-intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 150px 60px 60px; }
  #section-1-intro .section-1-intro-img {
    width: 50%; }
    #section-1-intro .section-1-intro-img .imagen-intro {
      width: 100%; }
  #section-1-intro .section-1-intro-title {
    width: 50%; }
    #section-1-intro .section-1-intro-title h2 {
      font-family: "Montserrat", sans-serif;
      color: #FFF;
      font-size: 48px;
      font-weight: 700; }
      #section-1-intro .section-1-intro-title h2 span {
        color: #74b5fc;
        font-family: "Montserrat", sans-serif;
        text-decoration: underline; }
    #section-1-intro .section-1-intro-title .section-1-intro-button {
      display: flex;
      width: 50%;
      justify-content: space-between; }
      #section-1-intro .section-1-intro-title .section-1-intro-button .section-1-button-1 {
        background: #007bff;
        border: 2px solid #007bff;
        color: #FFF;
        border-radius: 50px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 20px;
        letter-spacing: 1px;
        transition: 0.5s; }
      #section-1-intro .section-1-intro-title .section-1-intro-button .section-1-button-2 {
        background: #1445b3;
        border: 2px solid #FFF;
        color: #FFF;
        border-radius: 50px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 20px;
        letter-spacing: 1px;
        transition: 0.5s; }
    #section-1-intro .section-1-intro-title .section-1-button-1:hover {
      background: #1445b3;
      border: 2px solid #FFF; }
    #section-1-intro .section-1-intro-title .section-1-button-2:hover {
      background: #007bff;
      border: 2px solid #007bff; }

#section-2-about {
  background-color: #FFF;
  padding: 60px 60px; }
  #section-2-about main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #section-2-about main h3 {
      color: #283d50;
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      margin-bottom: 20px;
      font-weight: 500; }
    #section-2-about main p {
      color: #556877;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      line-height: 1.5px; }
  #section-2-about .section-2-container-about-articles {
    display: flex;
    margin: 20px; }
    #section-2-about .section-2-container-about-articles .section-2-container-about-text {
      display: flex;
      width: 50%;
      flex-direction: column;
      padding: 0 15px; }
      #section-2-about .section-2-container-about-articles .section-2-container-about-text p {
        color: #444;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 30px; }
      #section-2-about .section-2-container-about-articles .section-2-container-about-text .section-2-container-about-box {
        display: flex;
        padding: 0 0 30px; }
        #section-2-about .section-2-container-about-articles .section-2-container-about-text .section-2-container-about-box .about-icons {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 64px;
          height: 64px;
          padding: 20px;
          border-radius: 50%;
          border: 2px solid #007bff;
          transition: all 0.3s ease-in-out;
          background-color: #FFF; }
          #section-2-about .section-2-container-about-articles .section-2-container-about-text .section-2-container-about-box .about-icons i {
            color: #007bff;
            font-size: 28px; }
        #section-2-about .section-2-container-about-articles .section-2-container-about-text .section-2-container-about-box .about-text {
          flex-direction: column;
          margin-left: 15px; }
          #section-2-about .section-2-container-about-articles .section-2-container-about-text .section-2-container-about-box .about-text h4 {
            margin: 0 0 5px;
            color: #283D50;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 18px; }
          #section-2-about .section-2-container-about-articles .section-2-container-about-text .section-2-container-about-box .about-text p {
            color: #444;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            margin-bottom: 30px; }
    #section-2-about .section-2-container-about-articles .section-2-container-about-box:hover .about-icons {
      background-color: #007BFF; }
      #section-2-about .section-2-container-about-articles .section-2-container-about-box:hover .about-icons i {
        color: #FFF; }
    #section-2-about .section-2-container-about-articles .section-2-container-img {
      display: flex;
      width: 50%;
      padding: 0 15px; }
      #section-2-about .section-2-container-about-articles .section-2-container-img img {
        width: 100%; }
  #section-2-about .section-2-container-about-articles-2 {
    display: flex;
    padding-top: 60px; }
    #section-2-about .section-2-container-about-articles-2 .section-2-container-about-articles-2-img {
      width: 50%;
      padding: 0 15px; }
      #section-2-about .section-2-container-about-articles-2 .section-2-container-about-articles-2-img img {
        width: 90%; }
    #section-2-about .section-2-container-about-articles-2 .section-2-container-about-articles-2-text {
      width: 50%;
      padding: 0 15px; }
      #section-2-about .section-2-container-about-articles-2 .section-2-container-about-articles-2-text h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 600px;
        color: #444;
        margin: 0 0 20px; }
      #section-2-about .section-2-container-about-articles-2 .section-2-container-about-articles-2-text p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #444;
        margin: 0 0 30px;
        line-height: 1.5; }

@media (max-width: 950px) {
  #section-2-about {
    padding: 60px 150px; } }

#section-3-services {
  background-color: #ECF5FF;
  padding: 60px 60px; }
  #section-3-services header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #section-3-services header h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      color: #283d50;
      text-align: center;
      font-weight: 500; }
    #section-3-services header p {
      text-align: center;
      color: #556877;
      padding-bottom: 60px;
      width: 50%; }
  #section-3-services .section-3-services-container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto; }
    #section-3-services .section-3-services-container-cards .section-3-services-cards {
      width: 40%;
      height: 170px;
      background-color: #FFF;
      margin: 28px;
      padding: 30px;
      display: flex;
      border-radius: 10px;
      box-shadow: 0 10px 30px 0 rgba(3, 43, 153, 0.1);
      transition: all 0.5s;
      position: relative;
      overflow: hidden;
      align-items: center; }
      #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-icon {
        display: flex;
        align-items: center;
        position: absolute;
        left: -10px; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-icon i {
          font-size: 64px; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-icon .fa-chart-line {
          color: #ff689b; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-icon .fa-bookmark {
          color: #e9bf06; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-icon .fa-tachometer-alt {
          color: #41cf2e; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-icon .fa-sticky-note {
          color: #3fcdc7; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-icon .fa-globe {
          color: #d6ff22; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-icon .fa-clock {
          color: #4680ff; }
      #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-text {
        margin-left: 40px; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-text h4 {
          margin: 0;
          margin-bottom: 15px;
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          font-weight: 700;
          color: #111; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-text p {
          font-family: "Open Sans", sans-serif;
          color: #444;
          font-size: 14px; }
    #section-3-services .section-3-services-container-cards .section-3-services-cards:hover {
      transform: translateY(-5px); }

#section-4-why-choose-us {
  background-color: #004A99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 60px;
  /* ACA ME DA ALGO ERROR Y NO LOGRO DARME CUENTA */ }
  #section-4-why-choose-us h3 {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    margin-bottom: 20px; }
  #section-4-why-choose-us p {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5px;
    padding-bottom: 30px; }
  #section-4-why-choose-us .section-4-why-choose-us-container-box {
    display: flex;
    justify-content: space-around; }
    #section-4-why-choose-us .section-4-why-choose-us-container-box .section-4-why-choose-us-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #00458F;
      border-radius: 10px;
      padding: 15px;
      margin: 0 15px;
      height: 320px;
      width: 290px; }
      #section-4-why-choose-us .section-4-why-choose-us-container-box .section-4-why-choose-us-box h4 {
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        margin-bottom: 20px; }
      #section-4-why-choose-us .section-4-why-choose-us-container-box .section-4-why-choose-us-box p {
        color: #D8EAFE;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        line-height: 1.5; }
      #section-4-why-choose-us .section-4-why-choose-us-container-box .section-4-why-choose-us-box a {
        text-decoration: none;
        color: #FFF;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 16px; }
  #section-4-why-choose-us .section-4-why-choose-us-countup {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* no deberia especificarse, pero de una me queda en column */
    color: #FFF; }

#section-5-portfolio {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 60px; }
  #section-5-portfolio .section-5-portfolio-title-and-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #section-5-portfolio .section-5-portfolio-title-and-button h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      font-weight: 500;
      color: #283d50;
      /* TAL VEZ DECLARARLO PARA EL H3*/ }
    #section-5-portfolio .section-5-portfolio-title-and-button .section-5-portfolio-button {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px; }
      #section-5-portfolio .section-5-portfolio-title-and-button .section-5-portfolio-button button {
        background-color: #ECF5FF;
        border-radius: 50px;
        color: #007BFF;
        padding: 6px 20px;
        margin: 10px;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-size: 12px; }
      #section-5-portfolio .section-5-portfolio-title-and-button .section-5-portfolio-button button:hover, #section-5-portfolio .section-5-portfolio-title-and-button .section-5-portfolio-button .section-5-portfolio-button-all {
        background-color: #007BFF;
        color: #FFF; }
  #section-5-portfolio .section-5-portfolio-container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px; }
    #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img {
      width: 350px;
      height: 250px;
      border-radius: 6px;
      overflow: hidden;
      margin-bottom: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute; }
      #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay {
        background-color: rgba(0, 22, 99, 0.5);
        color: #FFF;
        position: relative;
        width: 350px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none; }
        #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          padding: 50px; }
          #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info h4 {
            font-family: "Montserrat", sans-serif;
            font-size: 22px;
            margin: 0; }
          #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info p {
            font-family: "Open Sans", sans-serif;
            color: #E2EFFE;
            font-size: 14px; }
          #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info .fas.fa-eye, #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info .fas.fa-external-link-alt {
            color: #E2EFFE;
            background-color: #007BFF;
            border-radius: 50%;
            height: 36px;
            width: 36px;
            text-align: center;
            padding: 10px 5px; }
    #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img:hover .section-5-portfolio-img-overlay {
      z-index: 2;
      display: block; }

#section-6-testimonials {
  padding: 60px 60px;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ECF5FF; }
  #section-6-testimonials .section-6-testimonials-title {
    margin: 0px 120px;
    font-family: "Montserrat", sans-serif; }
    #section-6-testimonials .section-6-testimonials-title h3 {
      margin: 0;
      padding: 20px 0;
      font-weight: 400;
      font-size: 36px;
      color: #283D50; }
  #section-6-testimonials .section-6-testimonials-container {
    margin: 0px 120px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-subcontainer {
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-subcontainer .section-6-testimonials-info {
        display: flex;
        width: 750px; }
        #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-subcontainer .section-6-testimonials-info .section-6-testimonials-info-img {
          margin-right: 20px;
          text-align: center;
          vertical-align: middle; }
          #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-subcontainer .section-6-testimonials-info .section-6-testimonials-info-img img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            border: 4px solid #FFF; }
        #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-subcontainer .section-6-testimonials-info .section-6-testimonials-info-text {
          padding-bottom: 5px;
          font-family: "Montserrat", sans-serif;
          line-height: 1.5; }
          #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-subcontainer .section-6-testimonials-info .section-6-testimonials-info-text h4 {
            color: #111;
            font-size: 20px;
            margin: 0 0 5px; }
          #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-subcontainer .section-6-testimonials-info .section-6-testimonials-info-text h5 {
            color: #999;
            font-size: 14px;
            margin: 0; }
          #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-subcontainer .section-6-testimonials-info .section-6-testimonials-info-text p {
            color: #444;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            margin-top: 15px;
            font-style: italic; }
    #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-info-button button {
      width: 12px;
      height: 12px;
      background-color: #DDD;
      margin: 0 5px;
      border-radius: 50%;
      border: none;
      cursor: pointer; }
    #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-info-button button:hover {
      background-color: #007BFF; }
    #section-6-testimonials .section-6-testimonials-container .section-6-testimonials-info-button button:active {
      background-color: #007BFF; }
  @media (max-width: 750px) {
    #section-6-testimonials .section-6-testimonials-info {
      flex-direction: column; }
      #section-6-testimonials .section-6-testimonials-info .section-6-testimonials-info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0; }
        #section-6-testimonials .section-6-testimonials-info .section-6-testimonials-info-text p {
          width: 60%;
          text-align: center; } }
  @media (min-width: 751px) and (max-width: 900px) {
    #section-6-testimonials .section-6-testimonials-subcontainer {
      width: 80%;
      margin: 0 30px 0; }
      #section-6-testimonials .section-6-testimonials-subcontainer .section-6-testimonials-info {
        width: 700;
        padding: 0 30px 0; } }

#section-7-team {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 60px; }
  #section-7-team h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin: 20px; }
  #section-7-team p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px; }
  #section-7-team .section-7-team-container-img {
    display: flex; }
    #section-7-team .section-7-team-container-img .section-7-team-images {
      width: 255px;
      height: 255px;
      position: relative;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      margin: 10px; }
      #section-7-team .section-7-team-container-img .section-7-team-images img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover; }
      #section-7-team .section-7-team-container-img .section-7-team-images .section-7-team-images-overlay {
        background-color: rgba(0, 22, 99, 0.5);
        color: #FFF;
        position: relative;
        width: 255px;
        height: 255px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
        transition: all 2s linear; }
        #section-7-team .section-7-team-container-img .section-7-team-images .section-7-team-images-overlay .section-7-team-images-overlay-info {
          display: flex;
          align-items: center;
          flex-direction: column; }
          #section-7-team .section-7-team-container-img .section-7-team-images .section-7-team-images-overlay .section-7-team-images-overlay-info h3 {
            margin: 50px 0 10px;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 600; }
          #section-7-team .section-7-team-container-img .section-7-team-images .section-7-team-images-overlay .section-7-team-images-overlay-info p {
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-size: 15px; }
        #section-7-team .section-7-team-container-img .section-7-team-images .section-7-team-images-overlay .section-7-team-images-ovarlay-icons {
          display: flex;
          justify-content: center;
          margin: 10px 5px; }
          #section-7-team .section-7-team-container-img .section-7-team-images .section-7-team-images-overlay .section-7-team-images-ovarlay-icons i {
            margin: 5px; }
    #section-7-team .section-7-team-container-img .section-7-team-images:hover .section-7-team-images-overlay {
      z-index: 2;
      display: block; }
  @media (max-width: 900px) {
    #section-7-team .section-7-team-container-img {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      #section-7-team .section-7-team-container-img img {
        width: 50%; } }
  @media (max-width: 600px) {
    #section-7-team .section-7-team-container-img {
      display: flex;
      flex-direction: column;
      align-items: center; } }

#section-8-our-clients {
  background-color: #ECF5FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 60px; }
  #section-8-our-clients h3 {
    color: #283d50;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 400; }
  #section-8-our-clients p {
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
    font-size: 15px;
    text-align: center; }
  #section-8-our-clients .section-8-our-clients-container-box {
    border-top: 1px solid #d6eaff;
    border-left: 1px solid #d6eaff;
    margin: 10px 10px 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; }
    #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards {
      background-color: #FFF;
      height: 160px;
      width: 25%;
      padding: 64px;
      border-right: 1px solid #d6eaff;
      border-bottom: 1px solid #d6eaff;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards img {
        transition: all 0.4s ease-in-out;
        max-width: 100%;
        height: auto;
        box-sizing: border-box; }
      #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards img:hover {
        transform: scale(1.25); }

#contact-us {
  background-color: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 60px 0; }
  #contact-us header {
    display: flex;
    justify-content: center;
    align-items: center; }
    #contact-us header h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      color: #283d50;
      text-align: center;
      font-weight: 500; }
  #contact-us .contact-us__main {
    display: flex;
    width: 100%; }
    #contact-us .contact-us__main .contact-us__main--left {
      width: 50%;
      padding: 15px; }
      #contact-us .contact-us__main .contact-us__main--left .contact-us__map, #contact-us .contact-us__main .contact-us__main--left iframe {
        width: 100%;
        height: 100%;
        border: 0; }
    #contact-us .contact-us__main .contact-us__main--right {
      padding: 15px;
      width: 50%; }
      #contact-us .contact-us__main .contact-us__main--right .contact-us__information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #283d50;
        padding: 5px; }
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information .contact-us__address,
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information .contact-us__email,
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information .contact-us__telephone {
          display: flex;
          align-items: center; }
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information i {
          font-size: 32px;
          color: #007bff; }
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information p {
          font-size: 14px;
          padding: 0 0 10px 25px; }
      #contact-us .contact-us__main .contact-us__main--right form .contact-us__form {
        display: flex;
        justify-content: space-between; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us__form--name,
        #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us__form--email {
          width: 50%;
          padding: 5px; }
          #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us__form--name input,
          #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us__form--email input {
            width: 100%;
            height: 36px;
            padding: 5px;
            font-family: "Montserrat", sans-serif; }
      #contact-us .contact-us__main .contact-us__main--right form .contact-us__form--subject {
        width: 100%;
        padding: 5px; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us__form--subject input {
          width: 100%;
          height: 36px;
          padding: 5px;
          font-family: "Montserrat", sans-serif; }
      #contact-us .contact-us__main .contact-us__main--right form .contact-us__form--message {
        width: 100%;
        padding: 5px; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us__form--message textarea {
          width: 100%;
          padding: 5px;
          font-family: "Montserrat", sans-serif; }
      #contact-us .contact-us__main .contact-us__main--right form .validation {
        display: none; }
      #contact-us .contact-us__main .contact-us__main--right form .contact-us__form--button {
        text-align: center; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us__form--button button[type="submit"] {
          background: #007bff;
          font-family: "Montserrat", sans-serif;
          border: 0;
          border-radius: 20px;
          padding: 8px 30px;
          color: #fff;
          transition: 0.3s; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us__form--button button[type="submit"]:hover {
          background-color: #0067d5;
          cursor: pointer; }

@media (max-width: 960px) {
  #contact-us .contact-us__main {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #contact-us .contact-us__main .contact-us__main--left {
      width: 100%; }
    #contact-us .contact-us__main .contact-us__main--right {
      width: 100%; }
      #contact-us .contact-us__main .contact-us__main--right form .contact-us__form {
        flex-direction: column; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us__form--name, #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us__form--email {
          width: 100%; }
  #section-3-services .section-3-services-container-cards .section-3-services-cards {
    width: 45%;
    margin: 15px; } }

@media (max-width: 768px) {
  .hamburguer {
    display: block; }
  .menu-pc {
    display: none; }
  #contact-us .contact-us__main .contact-us__main--right .contact-us__information {
    flex-direction: column;
    align-items: flex-start; }
  #section-3-services {
    padding: 60px 20px; }
    #section-3-services .section-3-services-container-cards .section-3-services-cards {
      display: flex;
      width: 100%;
      padding: 20px; } }

.arrow {
  border: none;
  color: white;
  font-size: 16px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #007bff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center; }

.arrow:hover {
  cursor: pointer; }

#footer .footer-container {
  background-color: #004A99;
  color: #FFF;
  display: flex;
  padding: 50px; }
  #footer .footer-container .bloque1 {
    display: flex;
    width: 50%; }
    #footer .footer-container .bloque1 .wayne {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      width: 70%;
      padding-left: 45px;
      padding-right: 15px;
      line-height: 0.75cm; }
      #footer .footer-container .bloque1 .wayne h2 {
        font-size: 34px;
        font-weight: 400; }
    #footer .footer-container .bloque1 .useful-links {
      width: 30%;
      font-size: 14px;
      padding-left: 15px;
      padding-right: 15px; }
      #footer .footer-container .bloque1 .useful-links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1cm; }
        #footer .footer-container .bloque1 .useful-links ul li a {
          padding: 0;
          text-decoration: none;
          font-weight: 400;
          color: #fff;
          transition: all 0.3s; }
      #footer .footer-container .bloque1 .useful-links ul li a:hover {
        color: #0564CA; }
  #footer .footer-container .bloque2 {
    width: 50%;
    display: flex; }
    #footer .footer-container .bloque2 .contact-us {
      width: 45%;
      font-size: 14px;
      padding-left: 15px;
      padding-right: 15px; }
      #footer .footer-container .bloque2 .contact-us p {
        line-height: 0.75cm; }
        #footer .footer-container .bloque2 .contact-us p span {
          font-weight: bold; }
      #footer .footer-container .bloque2 .contact-us .icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%; }
        #footer .footer-container .bloque2 .contact-us .icons .iconos {
          width: 35px;
          height: 35px;
          background-color: #007bff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s; }
        #footer .footer-container .bloque2 .contact-us .icons .iconos:hover {
          background-color: #0564ca;
          cursor: pointer; }
    #footer .footer-container .bloque2 .newsletter {
      width: 55%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 14px;
      padding-left: 15px;
      padding-right: 15px; }
      #footer .footer-container .bloque2 .newsletter p {
        margin: 0 0 40px; }
      #footer .footer-container .bloque2 .newsletter form {
        display: flex; }
        #footer .footer-container .bloque2 .newsletter form input {
          display: flex;
          flex: 1;
          justify-content: center;
          height: 30px;
          margin: 0;
          padding: 0;
          border: none; }
        #footer .footer-container .bloque2 .newsletter form .submit {
          background-color: #007bff;
          color: #ffffff;
          width: 30%;
          transition: all 0.3s; }
        #footer .footer-container .bloque2 .newsletter form .submit:hover {
          cursor: pointer;
          background-color: #0564CA; }

#footer .copyright {
  height: 100px;
  background-color: #00428a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #footer .copyright p {
    margin: 5px; }

@media (max-width: 960px) {
  #footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #footer .footer-container .bloque1 {
      display: flex;
      margin-bottom: 20px;
      width: 100%; }
      #footer .footer-container .bloque1 .wayne {
        padding: 0;
        margin-right: 20px;
        width: 50%; }
        #footer .footer-container .bloque1 .wayne h2 {
          margin-top: 0; }
      #footer .footer-container .bloque1 .useful-links {
        width: 50%;
        padding-left: 0; }
    #footer .footer-container .bloque2 {
      width: 100%; }
      #footer .footer-container .bloque2 .newsletter {
        width: 50%;
        padding-left: 0; }
      #footer .footer-container .bloque2 .contact-us {
        width: 50%;
        padding-left: 0; } }

@media (max-width: 768px) {
  #footer .footer-container .bloque1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #footer .footer-container .bloque1 .wayne {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      padding: 0; }
    #footer .footer-container .bloque1 .useful-links {
      width: 100%;
      margin-bottom: 20px;
      padding: 0; }
  #footer .footer-container .bloque2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #footer .footer-container .bloque2 .newsletter {
      margin-bottom: 20px;
      padding: 0;
      width: 100%; }
      #footer .footer-container .bloque2 .newsletter form {
        width: 100%; }
  #footer .footer-container .contact-us {
    margin-bottom: 20px;
    padding: 0;
    width: 100%; } }
