@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #1445b3;
  font-family: 'Montserrat', sans-serif; }

nav {
  background-color: #FFF;
  padding: 20px;
  display: flex;
  justify-content: space-between; }

.img-tp {
  width: 50px;
  height: 20px; }

img {
  width: 100%; }

#menu {
  background-color: rgba(19, 39, 57, 0.8);
  color: #FFF;
  width: 200px;
  position: absolute;
  top: 0;
  left: -200px;
  height: 100%;
  transition: all 0.5s; }

a {
  font-weight: 600;
  color: #1445b3;
  font-size: 15px; }

ul {
  padding-left: 20px; }

li {
  list-style: none;
  padding-bottom: 10px;
  font-weight: 600; }

#menu:target {
  left: 0px; }

.x {
  position: absolute;
  top: 20px;
  left: 300px;
  display: none; }

#menu:target .x {
  display: block; }

a {
  padding-left: 10px; }

.hamburguer {
  display: none; }

#section-1-intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 60px 40px; }
  #section-1-intro .section-1-intro-img {
    width: 50%; }
  #section-1-intro .section-1-intro-title {
    width: 50%; }
  #section-1-intro .section-1-intro-button {
    display: flex;
    width: 50%;
    justify-content: space-between; }
  #section-1-intro .section-1-button-1 {
    background: #007bff;
    border: 2px solid #007bff;
    color: #FFF;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    letter-spacing: 1px;
    transition: 0.5s; }
  #section-1-intro .section-1-button-2 {
    background: #1445b3;
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    letter-spacing: 1px;
    transition: 0.5s; }
  #section-1-intro .section-1-button-1:hover {
    background: #1445b3;
    border: 2px solid #FFF; }
  #section-1-intro .section-1-button-2:hover {
    background: #007bff;
    border: 2px solid #007bff; }

.imagen-intro {
  width: 100%; }

h2 {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  font-size: 48px;
  font-weight: 700; }
  h2 span {
    color: #74b5fc;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline; }

#section-2-about {
  background-color: #FFF;
  padding: 60px; }
  #section-2-about main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #section-2-about main h3 {
      color: #283d50;
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      margin-bottom: 20px;
      font-weight: 400; }
    #section-2-about main p {
      color: #556877;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      line-height: 1.5px; }
  #section-2-about .section-2-container-img {
    display: flex;
    width: 50%; }
  #section-2-about .section-2-container-about-text {
    display: flex;
    width: 50%;
    flex-direction: column; }
    #section-2-about .section-2-container-about-text p {
      display: block;
      font-family: "Open Sans", sans-serif;
      font-size: 14px; }
  #section-2-about .section-2-container-about-articles {
    display: flex;
    margin: 20px; }
  #section-2-about .section-2-container-about-text div {
    display: flex; }
    #section-2-about .section-2-container-about-text div p, #section-2-about .section-2-container-about-text div h4 {
      margin: 1px; }
    #section-2-about .section-2-container-about-text div .about-icons {
      display: flex;
      width: 40px;
      height: 40px; }
  #section-2-about .about-text {
    flex-direction: column; }
  #section-2-about .section-2-container-about-articles-2 {
    display: flex; }
    #section-2-about .section-2-container-about-articles-2 .section-2-container-about-articles-2-img {
      width: 50%; }
      #section-2-about .section-2-container-about-articles-2 .section-2-container-about-articles-2-img img {
        width: 90%; }
    #section-2-about .section-2-container-about-articles-2 .section-2-container-about-articles-2-text {
      width: 50%; }

#section-3-services {
  background-color: #ECF5FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #section-3-services .section-3-services-container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    #section-3-services .section-3-services-container-cards .section-3-services-cards {
      width: 425px;
      height: 170px;
      background-color: #FFF;
      margin: 30px;
      padding: 30px;
      display: flex;
      border-radius: 10px;
      box-shadow: 0 10px 30px 0 rgba(3, 43, 153, 0.1); }
      #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-icon {
        display: flex;
        align-items: center; }
      #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-text {
        margin-left: 10px; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-text h4 {
          margin: 0;
          margin-bottom: 15px;
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          font-weight: 700;
          color: #111; }
        #section-3-services .section-3-services-container-cards .section-3-services-cards .section-3-services-cards-text p {
          font-family: "Open Sans", sans-serif;
          color: #444;
          font-size: 14px; }

#section-4-why-choose-us {
  background-color: #004A99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* ACA ME DA ALGO ERROR Y NO LOGRO DARME CUENTA */ }
  #section-4-why-choose-us h3 {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    margin-bottom: 20px; }
  #section-4-why-choose-us p {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5px;
    padding-bottom: 30px; }
  #section-4-why-choose-us .section-4-why-choose-us-container-box {
    display: flex;
    justify-content: space-around; }
    #section-4-why-choose-us .section-4-why-choose-us-container-box .section-4-why-choose-us-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #00458F;
      border-radius: 10px;
      padding: 15px;
      margin: 0 15px;
      height: 320px;
      width: 290px; }
      #section-4-why-choose-us .section-4-why-choose-us-container-box .section-4-why-choose-us-box h4 {
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        margin-bottom: 20px; }
      #section-4-why-choose-us .section-4-why-choose-us-container-box .section-4-why-choose-us-box p {
        color: #D8EAFE;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        line-height: 1.5; }
      #section-4-why-choose-us .section-4-why-choose-us-container-box .section-4-why-choose-us-box a {
        text-decoration: none;
        color: #FFF;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 16px; }
  #section-4-why-choose-us .section-4-why-choose-us-countup {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* no deberia especificarse, pero de una me queda en column */
    color: #FFF; }

#section-5-portfolio {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  #section-5-portfolio .section-5-portfolio-title-and-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #section-5-portfolio .section-5-portfolio-title-and-button h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      font-weight: 400;
      color: #283d50;
      /* TAL VEZ DECLARARLO PARA EL H3*/ }
    #section-5-portfolio .section-5-portfolio-title-and-button .section-5-portfolio-button {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px; }
      #section-5-portfolio .section-5-portfolio-title-and-button .section-5-portfolio-button button {
        background-color: #ECF5FF;
        border-radius: 50px;
        color: #007BFF;
        padding: 6px 20px;
        margin: 10px;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-size: 12px; }
      #section-5-portfolio .section-5-portfolio-title-and-button .section-5-portfolio-button button:hover, #section-5-portfolio .section-5-portfolio-title-and-button .section-5-portfolio-button .section-5-portfolio-button-all {
        background-color: #007BFF;
        color: #FFF; }
  #section-5-portfolio .section-5-portfolio-container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px; }
    #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img {
      width: 350px;
      height: 250px;
      border-radius: 6px;
      overflow: hidden;
      margin-bottom: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img img {
        max-width: 100%;
        height: auto;
        position: absolute; }
      #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay {
        background-color: rgba(0, 22, 99, 0.5);
        color: #FFF;
        position: relative;
        width: 350px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none; }
        #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          padding: 50px; }
          #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info h4 {
            font-family: "Montserrat", sans-serif;
            font-size: 22px;
            margin: 0; }
          #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info p {
            font-family: "Open Sans", sans-serif;
            color: #E2EFFE;
            font-size: 14px; }
          #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info .fas.fa-eye, #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img .section-5-portfolio-img-overlay .section-5-portfolio-img-overlay-info .fas.fa-external-link-alt {
            color: #E2EFFE;
            background-color: #007BFF;
            border-radius: 50%;
            height: 36px;
            width: 36px;
            text-align: center;
            padding: 10px 5px; }
    #section-5-portfolio .section-5-portfolio-container-img .section-5-portfolio-img:hover .section-5-portfolio-img-overlay {
      z-index: 2;
      display: block; }

#section-7-team {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  #section-7-team h3 {
    font-family: "Montserrat", sans-serif; }
  #section-7-team p {
    font-family: "Open Sans", sans-serif; }
  #section-7-team .section-7-team-container-img {
    display: flex; }
    #section-7-team .section-7-team-container-img .section-7-team-images {
      width: 255px;
      height: 255px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      margin: 10px; }
      #section-7-team .section-7-team-container-img .section-7-team-images img {
        width: 100%;
        height: 100%; }
      #section-7-team .section-7-team-container-img .section-7-team-images .section-7-team-images-overlay {
        background-color: rgba(0, 22, 99, 0.7);
        /*no puedo hacer que quede transparente*/
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #FFF;
        height: 255px;
        width: 255px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none; }
    #section-7-team .section-7-team-container-img .section-7-team-images:hover .section-7-team-images-overlay {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center; }

#section-8-our-clients {
  background-color: #ECF5FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 60px 0px 60px; }
  #section-8-our-clients h3 {
    color: #283d50;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 400; }
  #section-8-our-clients p {
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
    font-size: 15px;
    text-align: center; }
  #section-8-our-clients .section-8-our-clients-container-box {
    border-top: 1px solid #d6eaff;
    border-left: 1px solid #d6eaff;
    margin: 10px 10px 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; }
    #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards {
      background-color: #FFF;
      height: 160px;
      width: 25%;
      padding: 64px;
      border-right: 1px solid #d6eaff;
      border-bottom: 1px solid #d6eaff;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards img {
        transition: all 0.4s ease-in-out;
        max-width: 100%;
        height: auto;
        box-sizing: border-box; }
      #section-8-our-clients .section-8-our-clients-container-box .section-8-our-clients-cards img:hover {
        transform: scale(1.25); }

#contact-us {
  background-color: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  #contact-us header {
    display: flex;
    justify-content: center;
    align-items: center; }
    #contact-us header h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      color: #283d50;
      text-align: center;
      font-weight: 500; }
  #contact-us .contact-us__main {
    display: flex;
    width: 100%; }
    #contact-us .contact-us__main .contact-us__main--left {
      width: 50%;
      padding: 15px; }
      #contact-us .contact-us__main .contact-us__main--left .contact-us__map, #contact-us .contact-us__main .contact-us__main--left iframe {
        width: 100%;
        height: 100%;
        border: 0; }
    #contact-us .contact-us__main .contact-us__main--right {
      padding: 15px;
      width: 50%; }
      #contact-us .contact-us__main .contact-us__main--right .contact-us__information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #283d50;
        padding: 5px; }
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information .contact-us__address,
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information .contact-us__email,
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information .contact-us__telephone {
          display: flex;
          align-items: center; }
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information i {
          font-size: 32px;
          color: #007bff; }
        #contact-us .contact-us__main .contact-us__main--right .contact-us__information p {
          font-size: 14px;
          padding: 0 0 10px 36px; }
      #contact-us .contact-us__main .contact-us__main--right form .contact-us__form {
        display: flex;
        justify-content: space-between; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us-form__name,
        #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us-form__email {
          width: 50%;
          padding: 5px; }
          #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us-form__name input,
          #contact-us .contact-us__main .contact-us__main--right form .contact-us__form .contact-us-form__email input {
            width: 100%;
            height: 36px; }
      #contact-us .contact-us__main .contact-us__main--right form .contact-us-form__subject {
        width: 100%;
        padding: 5px; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us-form__subject input {
          width: 100%;
          height: 36px; }
      #contact-us .contact-us__main .contact-us__main--right form .contact-us-form__message {
        width: 100%;
        padding: 5px; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us-form__message textarea {
          width: 100%; }
      #contact-us .contact-us__main .contact-us__main--right form .validation {
        display: none; }
      #contact-us .contact-us__main .contact-us__main--right form .contact-us-form__button {
        text-align: center; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us-form__button button[type="submit"] {
          background: #007bff;
          font-family: "Open Sans", sans-serif;
          border: 0;
          border-radius: 20px;
          padding: 8px 30px;
          color: #fff;
          transition: 0.3s; }
        #contact-us .contact-us__main .contact-us__main--right form .contact-us-form__button button[type="submit"]:hover {
          background-color: #0067d5;
          cursor: pointer; }

@media (max-width: 600px) {
  .hamburguer {
    display: block; }
  .menu-pc {
    display: none; } }
